.banner {
    margin-top: 5%;
    text-align: center;
}

.banner img {
  width: 30%;
  transform-origin: center center;
  transition: transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.banner img:hover{
  transform: scale(1.2);
}